html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
}

.main {
    position: relative;
    width: 100%;
    height: 100%;
}

.bdg {
    margin: 0;
    width: 100%;
    height: 100%;
    filter: brightness(50%);
}

.title {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    top: 27%;
    z-index: 200;
    font-size: 700%;
    color: white;
}

.button-down {
    transition: all .2s ease-in-out;
    position: absolute;
    color: white;
    top: 75%;
    left:5%;
}

.content {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: black;
}

.dziesiec {
    position: absolute;
    top: 6%;
    left: 5%;
    z-index: 200;
    font-size: 400%;
    color: white;
}

.marca {
    position: absolute;
    top: 6%;
    right: 5%;
    z-index: 200;
    font-size: 400%;
    color: white;
}

.quote {
    position: absolute;
    top: 45%;
    left: 23%;
    z-index: 200;
    font-size: 200%;
    color: white;
}

.author {
    position: absolute;
    top: 50%;
    right: 30%;
    z-index: 200;
    font-size: 200%;
    color: white;
}

/* number of images*/
.gallery {
    --d: 40s;
    /* duration */
    display: grid;
    width: 100%;
  }
  
  .gallery > img {
    grid-area: 1/1;
    width: 50%;
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    border: 10px solid #f2f2f2;
    box-shadow: 0 0 4px #0007;
    animation: slide var(--d) infinite;
    border-radius: 5px;
    filter: brightness(50%);
  }
  
  .gallery img:last-child {
    animation-name: slide-last;
  }
  
  .gallery > img:nth-child(1) {
    animation-delay: calc(0*var(--d));
    --r: -2deg;
  }
  
  .gallery > img:nth-child(2) {
    animation-delay: calc(-0.2*var(--d));
    --r: 1deg;
  }
  
  .gallery > img:nth-child(3) {
    animation-delay: calc(-0.4*var(--d));
    --r: -4deg;
  }
  
  .gallery > img:nth-child(4) {
    animation-delay: calc(-0.6*var(--d));
    --r: 2deg;
  }
  
  .gallery > img:nth-child(5) {
    animation-delay: calc(-0.8*var(--d));
    --r: -1deg;
  }
  
  @keyframes slide {
    0%, 100%, 80.01% {
      transform: translateX(0%) rotate(var(--r));
      z-index: 3;
    }
    10% {
      transform: translateX(-120%) rotate(var(--r));
      z-index: 3;
    }
    10.01% {
      transform: translateX(-120%) rotate(var(--r));
      z-index: -3;
    }
    20%, 80% {
      transform: translateX(0%) rotate(var(--r));
      z-index: -3;
    }
  }
  @keyframes slide-last {
    0%, 100%, 90.01% {
      transform: translateX(0%) rotate(var(--r));
      z-index: 3;
    }
    10% {
      transform: translateX(120%) rotate(var(--r));
      z-index: 3;
    }
    10.01% {
      transform: translateX(120%) rotate(var(--r));
      z-index: -3;
    }
    20%, 90% {
      transform: translateX(0%) rotate(var(--r));
      z-index: -3;
    }
  }

  .hero-video {
    position: absolute;
    top: 10%;
    left: 50%;
    width: 60%;
    height: 60%;
  }

  .motto {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    top: 70%;
    z-index: 200;
    font-size: 450%;
    color: white;
  }

  .header {
    position: absolute;
    top: 100%;
    left: 20%;
    width: 60%;
    height: 60%;
    color: white;
    font-size: 300%;
  }

  .text {
    position: absolute;
    top: 110%;
    left: 20%;
    width: 60%;
    height: 60%;
    color: white;
    font-size: 150%;
    text-align: justify;
  }

  .footer {
    position: absolute;
    top: 170%;
    left: 10%;
    width: 60%;
    height: 10%;
    color: white;
    font-size: 130%;
  }

  .footer2 {
    position: absolute;
    top: 170%;
    left: 35%;
    width: 60%;
    height: 10%;
    color: white;
    font-size: 130%;
  }

  .footer3 {
    position: absolute;
    top: 170%;
    left: 60%;
    width: 60%;
    height: 10%;
    color: white;
    font-size: 130%;
  }

  .hr {
    size: 100%;
    color: white;
    position: absolute;
    top: 160%;
    width: 100%;
    z-index: 400;
  }

  .hero .hero-video {
    z-index: -1;
  }